.image {
    width: 100%;
        height: auto;
        object-fit:scale-down;
        
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        
}
.container:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}