p {
    margin: 0;
    color: rgb(49, 44, 44);
    font-weight: 500;
}
a {
    cursor: pointer;
    color: #000;
    color: rgb(49, 44, 44);
    font-weight: 500;
    text-decoration: none;
}
.modalfieldwrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 23, 24, 0.9);
    z-index: 1;
}
.ImageModal {
    position: fixed;
      top: 50%;
      left: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      background: #fff;
      overflow: hidden;
      border-radius: 4px;
      outline: none;
      transform: translate(-50%, -50%);
      max-width: 95%;
      max-height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 95%;
    object-fit:scale-down;
}

.infoContainer {
    position: fixed;
    background-color: rgb(211, 198, 198, 0.5);
    top: 15px;
    left: 15px;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);;
}